.searchbar input{
    width: 800px;
    height: 20px;
    margin-top: 16px;
    padding: 10px;
    padding-left: 50px;
    background: rgb(138,131,110,0.3);
    border: 1px solid rgb(138,131,110,0.3);
    border-radius: var(--border-radius);
    color: white;
    font-size: 20px;
    outline: none;
    font-family: var(--font-family2);
    font-weight: lighter;
}


/* .searchbar input:hover{
    border-color: var(--primary-color)
} */


.searchbar{
    position: relative;
}

.searchbar label{
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
}

.searchbar label svg{
    color: #8A836E;
}
